#keyboard {
  display: flex;
  /*flex-wrap: wrap;*/
  flex-wrap: wrap;
  justify-content: center;
}

.keyrow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 10px;
}

.key {
  width: 135px;
  height: 80px;
  border: 1px solid blue;
  margin: 8px;
  
  font-size: 25px; 
  border-radius: 25px;
  box-shadow: 4px 4px 4px rgba(0, 0, 255, 0.2);
}

#textbox {
  cursor: text;
  width: 1350px;
  height: 120px;
  margin: 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 255, 0.2);
  font-size: 50px;
  justify-content: center;
  background-color: #F5F5F5;
}
